---
# host_vars file for rsync-backup


###[targets] vars
#backup location on [targets]
backup_location: /


#backup frequency in crond format
backupfreq: 0 12 * * 2


# [targets] service user
backup_user: service-backup-rsync
backup_user_pass: Abc12345

#Rsync script variables
sudopath: /usr/bin/sudo
rsyncpath: /usr/bin/rsync

#Define retention rate with following variable
# Tip change to <"10 days ago"> for a 10 days retention rate
OLDBACKUP: date -d "2 days ago" +"%Y%m%d"

#######################################################

###[backup_servers] vars

#Persistant storage on [backup_server]
pers_storage: /POINT/TO/PERSISTANT/STORAGE/backup-rsync

# [backup_servers] service user
backup_user_backupserver: service-backup-rsync

#SSH port [backup_servers]
sshport: 22