---
# defaults file for prepair-target


#Persistant storage on [backup_server]
pers_storage: /POINT/TO/PERSISTANT/STORAGE/backup-rsync
#backup location on [targets]
backup_location: /


# [target] service user
backup_user: service-backup-rsync
backup_user_pass: Abc12345


# [backup_servers] service user
#backup_user_backupservers: service-backup-rsync

#Rsync script variables
sudopath: /usr/bin/sudo
rsyncpath: /usr/bin/rsync

#Define retention rate with following variable
# Tip change to <"10 days ago"> for a 10 days retention rate
OLDBACKUP: date -d "2 days ago" +"%Y%m%d"

#SSH port -> backup_servers
sshport: 22